* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d0d0d;
    font-family: OpenSans, sans-serif;
}

.navbar {
    font-family: Inter, sans-serif;
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    color: white;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background: var(--color-background-transparent-default, rgba(16, 16, 20, .7));
    backdrop-filter: var(--effect-material-blur, blur(50px));
}

.nav-logo {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    box-shadow: none;
    border: none;
}

.nav-logo svg {
    width: 12px;
    height: 12px;
    fill: white;
    margin-left: 5px;
    margin-right: 42px;
}

.nav-logo:hover {
    fill: #333;
}

.nav-l,
.nav-r {
    display: flex;
    align-items: center;
}

.logoimg {
    height: 32px;
    width: 32px;
    margin-right: 5px;
}

.nav-l a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
    font-size: 14px;

}

.nav-l a:hover {
    color: gray;
}

.about-m {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    background-color: transparent;
    box-shadow: none;
    border: none;

}

.dropdown {
    display: none;
    position: relative;
    background-color: #333;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    width: 180px;
    column-gap: 1px;
    inset-block-start: 70px;
}

.dropdown a {
    padding: 10px 12px;
    position: relative;
}

.wrap-dropdown:hover .dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.menu-phone {
    display: none;
}

.about-m a {
    color: white;
    text-decoration: none;
    margin-right: 5px;

}

.about-m svg {
    width: 12px;
    height: 12px;
    fill: white;
}

.nav-r button {
    margin-left: 12px;
    font-size: 14px;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

}

.lang-btn {
    background-color: transparent;
    fill: white;
    width: 50px;
    height: 32px;
    padding: 4px;
}

.lang-btn:hover svg path {
    fill: #aaa;
}

.signin-btn {
    background-color: #FFFFFF26;
    color: #FFF;
    width: 70px;
    height: 32px;
    padding: 4px 12px;

}

.signin-btn:hover {
    background-color: #333;
}

.download-btn {
    background-color: #26BBFF;
    color: blacks;
    width: 93px;
    height: 32px;
    padding: 4px 12px;
    text-align: center;
}

.download-btn:hover {
    background-color: #72d3ff;
}



.hero-section {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    position: relative;
    box-sizing: border-box;

}

.scroll-c {
    display: flex;
    width: max-content;
    animation: scroll-left 90s linear infinite;
}

.scroll-c p {
    text-transform: uppercase;
    color: #FFF;
    font-family: Brutal Bold, sans-serif;
    font-size: 3.8em;
    font-weight: 600;
    position: relative;
    top: 750px;
    left: 80px;
    z-index: 1000;
}

.scroll-c div::after {
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.2s;

}

.scroll-c>div {
    width: 630px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.scroll-c>div:hover::after {
    opacity: 0;
    transition: 0.2s;

}

.homepageepic a {
    display: none;
}

.homepageepic {
    background-image: url(./image/homepageepic.png);
}

.fortnite {
    background-image: url(./image/Fortnite.jpg);
}

.roborecall {
    background-image: url(./image/Roborecall.jpg);
}

.rocket {
    background-image: url(./image/rocket.png);
}

.unrealengine {
    background-image: url(./image/Unrealengine.png);
}

.unrealtournament {
    background-image: url(./image/unrealtournament.png);
}




@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}



hr {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    height: 0.0625rem;
    background: var(--color-border-subtle, rgba(255, 255, 255, .15));
    border: 0px;
    margin: 40px auto;
    margin-bottom: 0;
}

.footer {
    width: 100%;
    background-color: #18181c;
    padding: 80px 64px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}

.logo-social {
    width: 100%;
    max-width: 140px;
    fill: #ffffff99;
    gap: 25px;
    display: flex;
}

.logo-social svg:hover {
    fill: #FFF;
}

.logo-social svg {
    width: 32px;

}

.footer-content {
    display: flex;
    flex-wrap: nowrap;
    gap: 2.5rem;
    padding-top: 50px;
    width: 1493px;
    height: 438px;
    font-family: Inter, sans-serif;
    font-weight: 500;
}

.footer-content li:hover {
    color: gray;
}

hr.phone-hr {
    display: none;
}

.column-header {
    display: none;
}

.column {
    min-width: 245px;
}

.column h2 {
    font-size: 20px;
    margin-bottom: 25px;
    color: white;
}

.column ul {
    list-style: none;
    font-size: 14px;
    font-style: Inter, sans-serif;
}

.column ul li {
    margin: 6px 0;
    padding: 6px;
    color: #ccc;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.footer-f {
    font-size: 12px;
    width: 840px;
    height: 114px;
    color: #FFFFFFA6;
}

.footer-links {
    margin-top: 50px;
}

.footer-links a {
    margin: 0 10px;
    color: #aaa;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: none;
    color: gray;
}

.back-to-top {
    display: flex;
    height: 48px;
    padding: 12px 20px;
    border-radius: 8px;
    border: 0;
    background-color: #FFFFFF26;
    color: white;
    font-size: 14px;
    text-align: center;
    align-items: center;
    font-family: Inter, sans-serif;
    font-weight: 500;
}

.back-to-top:hover {
    background: var(--color-fill-secondary-hover, rgba(255, 255, 255, .35));
}

.back-to-top svg {
    fill: #FFF;
    margin: 0;
    padding: 0;
    margin-left: 8px;
}

@media screen and (max-width: 400px) {
    .navbar {
        display: flex;
        align-items: center;
        padding: 0 16px;
        height: 60px;
    }

    .navbar a {
        display: none;
    }

    .nav-r {
        display: none;
    }

    .about-m {
        display: none;
    }

    @keyframes scroll-left {}

    .homepageepic a {
        background: none;
        border: 1px solid #fff;
        border-radius: 0;
        color: #fff;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        padding: 15px 25px;
        text-decoration: none;
        box-sizing: border-box;
        position: absolute;
        bottom: 50px;
        left: 50px;
    }

    /* .scroll-c p {
        position: relative;
        top: 750px;
        left: 80px;
        font-size: 2em;
    } */
    hr {
        display: none;

    }

    .menu-phone {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        background-color: transparent;
        fill: #FFF;
        border: 0;
    }

    .column-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .column-header h2 {
        font-size: 1rem;
        color: white;
        margin: 0;
    }

    .column-header svg {
        width: 16px;
        height: 16px;
        fill: white;
    }


    .column ul {
        display: none;
    }

    .footer {
        padding: 40px 20px;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .logo-footer {
        margin-top: 50px;
    }

    .logo-social {
        justify-content: center;
        margin-top: 30px;
        gap: 1em;
        left: 0;
        margin-bottom: 20px;
    }

    .footer h2 {
        font-size: 14px;
        font-weight: 900;
        font-family: Inter, sans-serif;
    }

    .footer-content {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0.5rem;
        padding: 0;
        width: 100%;
        height: auto;

    }

    hr.phone-hr {
        display: block;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.15);
        border: none;
        margin: 10px 0;
    }

    .column {

        min-width: unset;
        width: 100%;
    }

    .column h2 {
        margin-bottom: 12px;
        font-size: 16px;
    }

    .footer-bottom {
        width: 100%;
        height: 250px;
        margin: 20px 0;
        text-align: center;
        font-size: 11px;
        margin-left: 0;
        flex-direction: column;
        align-items: center;
    }

    .footer-f {
        width: 100%;
    }

    .footer-f p {
        width: 100%;
    }

    .footer-links {
        width: 100%;
        height: 100%;
        margin: 30px 0 0 0;
    }

    .footer-links a {
        margin: 5px 8px;
        font-size: 12px;
    }

    .back-to-top {
        display: flex;
        height: 48px;
        width: 9rem;
        padding: 12px 20px;
        border-radius: 8px;
        border: 0;
        background-color: #FFFFFF26;
        color: white;
        font-size: 14px;
        text-align: center;
        align-items: center;
        font-family: Inter, sans-serif;
        font-weight: 500;
    }

    .back-to-top svg {
        fill: #FFF;
        margin: 0;
        padding: 0;
        margin-left: 8px;
    }
}